<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Webcams</title>
    <script src="http://<%=ip%>:<%=port%>/videojs/video.min.js"></script>
    <script src="http://<%=ip%>:<%=port%>/videojs/videojs-contrib-hls.min.js"></script>
    <link href="http://<%=ip%>:<%=port%>/videojs/video-js.min.css" rel="stylesheet">
  </head>
  <body>
  <% _.forEach(cams, function(cam, index) { %>
    <iframe src="http://<%=ip%>:<%=port%>/<%=cam.streamCam%>.html" width="960" height="540"></iframe>
  <% }); %>
  </body>
</html>
